<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>음식 API List</title>

<th:block th:include="/fragments/header_link :: header_link"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Preloader -->
	<th:block th:include="/fragments/preloader :: preloader"></th:block>

	<!-- Navbar -->
	<th:block th:include="/fragments/navi :: navi"></th:block>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<th:block th:include="fragments/sidebar :: sidebar"></th:block>
	<!-- /.sidebar -->


	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-1">
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="food/update">DB 업데이트</a></li>								
							</ol>
						</div>						
					</div>
					<span id="updateTime">업데이트일 : </span>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">음식 영양소 데이터</h3>									
								</div>
								<!-- /.card-header -->
								<div class="card-body table-responsive p-0">
									<table class="table table-hover text-nowrap">
										<thead>
											<tr>
												<th>No</th>
												<th>음식명</th>
												<th>열량(kcal)</th>
												<th>탄수화물(g)</th>
												<th>단백질(g)</th>
												<th>지방(g)</th>
												<th>당류(g)</th>
												<th>나트륨(mg)</th>
												
											</tr>
										</thead>
										<tbody>		
																		
											<!--FoodDB를 호출하는 테이블  -->
											<tr th:each="foodDB : ${foodList}">		
												<td th:text="${foodDB.foodIdx}"></td>
												<td th:text="${foodDB.foodname}"></td>
												<td th:text="${foodDB.kcal}"></td>												
												<td th:text="${foodDB.carbohydrate}"></td>												
												<td th:text="${foodDB.protein}"></td>												
												<td th:text="${foodDB.fat}"></td>												
												<td th:text="${foodDB.sugar}"></td>												
												<td th:text="${foodDB.sodium}"></td>												
											</tr>									 
											<!--FoodDB를 호출 테이블 끝  -->
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
					<!-- /.row -->

				</div>
				<!-- /.container-fluid -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:include="/fragments/footer :: footer"></th:block>
	<th:block th:include="/fragments/footer_link :: footer_link"></th:block>


</body>
</html>