<th:block th:fragment="header">
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">

				<a class="navbar-brand" href="/"> <img
					src="/img/foodfit_logo.png" alt="Foodfit Logo" width="90"
					height="75" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
	<!-- End header -->
</th:block>
